{% block body_block %}
<div class="container-fluid">
    <div class="row">

        {% for event in upcoming_events %}
            <div class="card-deck col-md-4 col-sm-6 col-xs-1">
                <div class="card">

                    <!-- TODO REPLACE WITH EVENT HREF -->
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ event.picture }}" alt="..." onclick="location.href='events/{{ event.pk }}'">
                    <div class="card-body">
                        <p class="card-text"><small class="text-muted">{{ event.date }}</small></p>
                        <h3 class="card-title" onclick="location.href='events/{{ event.pk }}'">{{ event.title }}</h3>
                        <p class="card-text">{{ event.place_name }}</p>
                        <p class="card-text"><small class="text-muted">{{ event.address }}</small></p>
                        <p class="card-text"><small class="text-muted">Price: {{ event.price }}</small></p>

                        <a href="#" class="float">
                            <i class="fa fa-heart my-float"></i>
                        </a>
                        <div class="label-container">
                            <div class="label-text">Bookmark</div>
                            <i class="fa fa-play label-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}