{%  extends 'eventsoc/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Booked
{% endblock %}

<!-- Should hopefully display booked events the same as a society's events in the account page -->
{% block body_block %}
  <h2>Bookmarked Events</h2>
    <div class="container-fluid">
        <div class="row">
          {% for event in books %}
              <div class="card-deck col-md-4 col-sm-6 col-xs-1">
                  <div class="card">
                          <img class="card-img-top" src="{{ MEDIA_URL }}{{ event.picture }}" alt="..." onclick="location.href='{% url 'event' event.slug %}'">
                      <div class="card-body">
                          <p class="card-text"><small class="text-muted">{{ event.date }}</small></p>
                          <h3 class="card-title" onclick="location.href='{% url 'event' event.slug %}'">{{ event.title }}</h3>
                          <p class="card-text">{{ event.place_name }}</p>
                          <p class="card-text"><small class="text-muted">{{ event.address }}</small></p>
                          <p class="card-text"><small class="text-muted">Price: {{ event.price }}</small></p>
                          <div class="label-container">
                              <div class="label-text">Bookmark</div>
                              <i class="fa fa-play label-arrow"></i>
                          </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
        </div>
    </div>
</div>
    <br/>
    {% include 'eventsoc/_event_cards.html' %}
{% endblock %}
