{%  extends 'eventsoc/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Event
{% endblock %}

<!-- Displays all of the event information  -->
<!-- Just to test view, Leo to display properly -->
{% block body_block %}
    <h1>{{ event.title }}</h1>
    <div>
    <img class="img-fluid" src="{{ MEDIA_URL }}{{ event.picture }}" alt="Event image">
    </div>
    <p>
    Category: {{event.category}}
    </p>
    <p>
    Description: {{event.description}}
    </p>
    <p>
    When: {{event.date}}
    </p>
    <p>
    Where: {{event.address}}
    </p>
    <!-- Should display free if price is 0 -->
    <p>
    Price: {{event.price}}
    </p>
    <p>
    Free space: {{ event.remaining_capacity }}
    </p>
{% endblock %}
