{%  extends 'eventsoc/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Event
{% endblock %}


{% block body_block %}

    <div class="container-fluid event-container">

    <div class="row event-row">
        <div class="col-12">
            <h1 class="display-4">{{ event.title }}</h1>
        </div>
        <div class="col-md-8">
            <img class="img-fluid event-image" src="{{ MEDIA_URL }}{{ event.picture }}" alt="Event image">
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <p>
                    <b>Date and time:</b>
                    <br>
                    {{event.date}}
                </p>
                <p>
                    <b>Location:</b>
                    <br>
                    {{event.address}}
                </p> <!-- TODO location icon -->
                <p>
                    <b>Price:</b>
                    <br>
                    £{{event.price}}
                </p>
                <p>
                    <b>Remaining spaces:</b>
                    <br>
                    {{event.remaining_capacity}}
                </p>

                <div>
                    <a class="tag" href="{% url 'show_category' event.category.slug %}">{{event.category}}</a>
                </div>
                <br>
                {% if user.is_user %}
                <!-- TODO event handling -->
                  <a class="btn btn-primary btn-lg" href="#" role="button">Tickets</a>
                {% elif user.is_society %}
                  <a class="btn btn-primary" href="{% url 'edit_event' event.slug %}" role="button">Edit Event</a>
                  <a class="btn btn-primary" href="{{ event.name }}delete" role="button">Delete Event</a>

                {% endif %}
            </div>
        </div>

        <div class="col-12">
            <hr class="my-4">
            {{event.description}}
        </div>

    </div>

    <hr class="my-4">

    </div>

{% endblock %}
