
.carousel-item {
	margin: auto;
	max-width: 90%;
	max-height: 400px;
}

.carousel-caption {
	transform: translateY(-50%);
}

.carousel-caption h1 {
	text-shadow: 3px 3px 40px #000;
}

.event-container{
	background-color: #c5c8cc;
}

.event-row{
	max-width: 90%;
	margin: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f7fbff;
}

.event-image{
	height: 400px;
	width: 100%;
	object-fit: cover;
}

.jumbotron{
	padding-top: 20px;
	padding-bottom: 20px;
}

.tag{
	background-color: #b2b2b2;
	display: inline-block;
	padding: 1px 5px;
	border-radius: 4px;
	font-size: small;
}

/*{# make the event card images same size, object-fit: cover enables zoom instead of image stretching #}*/
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card:hover {
    box-shadow: 2px 2px 3px #c5c8cc;
}

.float{
	position:absolute;
	width:40px;
	height:40px;
	bottom:20px;
	right:20px;
	background-color: #caccad;
	color: #FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #c5c8cc;
}

.float:hover {
    color: #ff7200;
}

/*positioning within circle*/
.my-float{
	margin-top:13px;
}



.label-container{
	position:absolute;
    bottom: 20px;
	right:70px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:5px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}
